.banner{
	background: linear-gradient(to bottom, rgba($primary, .2) 0%, rgba($secondary, .2) 100%);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	padding-top: map-get($spacers, 3);  
	padding-bottom: map-get($spacers, 3);  
	position: relative;
	.banner-title{
		color: $secondary;
		> small{
			display: block;
			font-size: $font-size-base;
			color: $body-secondary-color;
			margin-top: .5rem;
		}
	}
}