.page-header {
	padding-top: map-get($spacers, 5);
  padding-bottom: map-get($spacers, 3);
	position: relative;
	&::before{
		content: "";
		display: block;
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-image: url("../img/bg.jpg");
		background-repeat: no-repeat;
		background-position: center bottom;
		background-size: cover;
	}
	> * {
		position: relative;
		z-index: 1;
	}
	.page-header-title{
		font-size: 3.5rem;
		font-weight: bold;
		text-align: center;
		margin-bottom: 0;
	}
}