.page-header {
	padding-top: map-get($spacers, 5);
  padding-bottom: map-get($spacers, 3);
	background-image: url("../img/bg.jpg");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
	position: relative;
	.page-header-title{
		font-size: 3.5rem;
		font-weight: bold;
		text-align: center;
		margin-bottom: 0;
	}
	/*h2{display-4 text-center fw-bold
		color: #fff;
    	filter: opacity(0.9);
	}
	nav{
		filter: opacity(.75);
	}*/
	/*.breadcrumb{
		color: $white;
		--bs-breadcrumb-divider-color: var(--bs-white);
		--bs-breadcrumb-item-active-color: var(--bs-white);
		a{
			color: $white;
			&:hover{
				color: $tertiary;
			}
		}
	}*/
}