/* Light */
@font-face { font-family: "AlibabaPuHuiTi"; font-weight: 300; font-style: normal; font-display: swap; src: url("../fonts/AlibabaPuHuiTi-3-45-Light.woff2") format("woff2"); }
/* Regular */
@font-face { font-family: "AlibabaPuHuiTi"; font-weight: 400; font-style: normal; font-display: swap; src: url("../fonts/AlibabaPuHuiTi-3-55-Regular.woff2") format("woff2"); }
/* Medium */
@font-face { font-family: "AlibabaPuHuiTi"; font-weight: 500; font-style: normal; font-display: swap; src: url("../fonts/AlibabaPuHuiTi-3-65-Medium.woff2") format("woff2"); }
/* SemiBold */
@font-face { font-family: "AlibabaPuHuiTi"; font-weight: 600; font-style: normal; font-display: swap; src: url("../fonts/AlibabaPuHuiTi-3-75-SemiBold.woff2") format("woff2"); }
/* Bold */
@font-face { font-family: "AlibabaPuHuiTi"; font-weight: 700; font-style: normal; font-display: swap; src: url("../fonts/AlibabaPuHuiTi-3-85-Bold.woff2") format("woff2"); }
/* ExtraBold */
@font-face { font-family: "AlibabaPuHuiTi"; font-weight: 800; font-style: normal; font-display: swap; src: url("../fonts/AlibabaPuHuiTi-3-95-ExtraBold.woff2") format("woff2"); }
/* Black */
@font-face { font-family: "AlibabaPuHuiTi"; font-weight: 900; font-style: normal; font-display: swap; src: url("../fonts/AlibabaPuHuiTi-3-115-Black.woff2") format("woff2"); }
