header { display: inline; position: relative; }
header .navbar.sticky-top { top: 0; transition: .5s; }
header .navbar { font-size: 1.1rem; }
header .navbar .navbar-brand { flex: 1; }
header .navbar .navbar-brand .logo { margin-bottom: 0; }
header .navbar .navbar-brand .logo img { height: 3.5rem; }
header .navbar .navbar-toggler { border-color: transparent; padding-left: .5rem; padding-right: .5rem; }
header .navbar .navbar-toggler:focus { box-shadow: none; }
header .navbar .navbar-toggler .navbar-toggler-icon { background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='%230068b7' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e"); }
header .navbar .navbar-toggler:hover { transform: scale(1.25); transition: .35s ease; }
header .navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon { background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%230068b7'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e"); width: 1.2rem; height: 1.2rem; }
header .navbar .navbar-collapse { flex-grow: inherit; flex-shrink: 0; }
header .navbar .navbar-nav .nav-link:hover, header .navbar .navbar-nav .nav-link:focus { color: #0068b7; }
header .navbar .navbar-nav .nav-link.active { color: #0068b7; }
header .navbar .navbar-nav .dropdown .dropdown-menu { min-width: 100%; }
@media (min-width: 992px) { header .navbar .navbar-nav .dropdown .dropdown-menu { display: block; border: none; margin-top: 0; top: 150%; left: auto; right: 0; opacity: 0; visibility: hidden; transition: .5s; } }
@media (min-width: 992px) { header .navbar .navbar-nav .dropdown:hover .dropdown-menu { top: 110%; visibility: visible; transition: .5s; opacity: 1; } }
header .navbar .navbar-nav .nav-others.dropdown-toggle::after { display: none; }
header .navbar .navbar-nav .nav-others.btn { width: calc(1em + .75rem*2); height: calc(1em + .75rem*2); display: flex; justify-content: center; align-items: center; }
header .navbar .navbar-nav .nav-user .avater { width: calc(1em*1.5 + 0.375rem*2 + 2px); height: calc(1em*1.5 + 0.375rem*2 + 2px); font-size: calc((1em*1.5 + 0.375rem*2 + 2px)*.4); }

footer { background: -webkit-linear-gradient(top left, #E96CA8 0%, #0068b7 100%); background: -o-linear-gradient(top left, #E96CA8 0%, #0068b7 100%); background: linear-gradient(to bottom right, #E96CA8 0%, #0068b7 100%); }
footer .infomation { background-color: rgba(255, 255, 255, 0.125); color: #fff; font-size: .85rem; padding-top: 1rem; padding-bottom: 1rem; }
footer .infomation .logo { margin-bottom: 1.5rem; }
footer .infomation .infomation-data { padding-left: 13%; margin-bottom: 1.5rem; }
footer .infomation .infomation-data p { margin-bottom: .25rem; }
footer .infomation .infomation-nav { margin-top: .75rem; margin-bottom: .75rem; padding-left: 8.5%; flex-wrap: nowrap; white-space: nowrap; }
footer .infomation .infomation-nav a { color: #fff; font-size: 1rem; text-align: left; }
footer .infomation .infomation-nav a:hover, footer .infomation .infomation-nav a:focus, footer .infomation .infomation-nav a:active { color: #FFF580; }
footer .infomation .infomation-link { font-size: 1rem; display: flex; align-items: center; padding-left: 1rem; margin-top: .75rem; margin-bottom: .75rem; }
footer .infomation .infomation-link a { display: inline-block; width: 10rem; height: auto; margin-left: 1rem; border-radius: .5rem; overflow: hidden; }
footer .copyright { color: #fff; font-size: .85rem; border-top: 1px solid rgba(255, 255, 255, 0.25); padding-top: .75rem; padding-bottom: .75rem; letter-spacing: 0.05em; }
footer .copyright a { color: #fff; margin-right: 1rem; letter-spacing: 0.1em; }
footer .copyright a:hover, footer .copyright a:focus, footer .copyright a:active { color: #FFF580; }

main { min-height: calc(100vh - (3rem + 0.3125rem*2 + 0.5rem*2)); }

.back-to-top { position: fixed; right: 0.75rem; bottom: 4rem; z-index: 99; width: 2.5rem; height: 2.5rem; padding: 0; display: flex; justify-content: center; align-items: center; background-color: #0068b7; border: 0; color: #fff; opacity: .75; }
.back-to-top:hover, .back-to-top:active { background-color: #E96CA8; color: #fff; opacity: 1.0; }

#spinner { position: fixed; width: 100vw; height: 100vh; background-color: #fbe2ee; display: flex; justify-content: center; align-items: center; top: 50%; left: 50%; transform: translate(-50%, -50%); opacity: 0; visibility: hidden; transition: opacity .5s ease-out, visibility 0s linear .5s; z-index: 99999; }
#spinner.show { transition: opacity .5s ease-out, visibility 0s linear 0s; visibility: visible; opacity: 1; }
#spinner .spinner-border { color: #0068b7; width: 3rem; height: 3rem; }

html, body { background-color: #f8f9fa; font-size: 14px; letter-spacing: .05em; }
@media screen and (min-width: 768px) { html, body { font-size: 16px; } }
@media screen and (min-width: 1200px) { html, body { font-size: 18px; } }
@media screen and (min-width: 1600px) { html, body { font-size: 20px; } }
html::-webkit-scrollbar, body::-webkit-scrollbar { background-color: transparent; }
html::-webkit-scrollbar-track, body::-webkit-scrollbar-track { background-color: #fff; }
html::-webkit-scrollbar-thumb, body::-webkit-scrollbar-thumb { background: linear-gradient(to bottom, #E96CA8 0%, #3386c5 50%, #005392 100%); border-radius: 17px; border: 3px solid #fff; }

a { text-underline-offset: .25em; word-break: break-all; }

.form-check-input { background-size: 130% 130% !important; }

.icon-link { align-items: flex-start; }

.link-scale { transition: .35s ease; }
.link-scale:hover, .link-scale:focus, .link-scale:active { transform: scale(1.1); }

.img-deafult { background-color: #f8f9fa; position: relative; }
.img-deafult::after { content: ""; display: block; width: 100%; height: 100%; display: flex; justify-content: center; align-items: center; background-image: url("../img/logo-icon.svg"); background-size: auto 50%; background-repeat: no-repeat; background-position: center center; filter: opacity(0.5) grayscale(0.5); position: absolute; top: 0; left: 0; right: 0; bottom: 0; z-index: 1; }
.img-deafult img { z-index: 5; }

.bg-opacity-5 { --bs-bg-opacity: .05; }

.bg-opacity-85 { --bs-bg-opacity: .85; }

/*.bg-primary-gradient{
	background: linear-gradient(to right, $sky-400 0%, $sky-500 50%, $primary 100%);
}*/
.pagination-field .pagination-input { display: inline; padding-right: .25rem; }

.btn-square { padding-left: 0; padding-right: 0; min-width: calc(1em*1.5 + 0.375rem*2 + 2px); min-height: calc(1em*1.5 + 0.375rem*2 + 2px); opacity: 1.0; }

.logo img { max-width: 100%; height: 3rem; }

.avater { background-color: #0068b7; color: #fff; border-radius: 50%; display: flex; justify-content: center; align-items: center; width: 2rem; height: 2rem; font-size: 0.8rem; line-height: 1; }

.divider-text { position: relative; display: flex; align-items: center; font-size: .8rem; color: #6c757d; }
.divider-text::before, .divider-text::after { content: ""; display: block; flex: 1; width: auto; height: 1px; background-color: rgba(108, 117, 125, 0.5); }
.divider-text::before { margin-right: .5rem; }
.divider-text::after { margin-left: .5rem; }

.login-divider { position: relative; display: flex; align-items: center; }
.login-divider::before, .login-divider::after { content: ""; display: block; flex: 1; width: auto; height: 1px; background-color: rgba(255, 255, 255, 0.5); }
.login-divider::before { margin-right: 1rem; }
.login-divider::after { margin-left: 1rem; }

.breadcrumb { margin-top: 1rem; font-size: 0.875rem; }
.breadcrumb a { color: rgba(52, 58, 64, 0.75); }
.breadcrumb a:hover, .breadcrumb a:focus, .breadcrumb a:active { color: #0068b7; }

.banner { background: linear-gradient(to bottom, rgba(0, 104, 183, 0.2) 0%, rgba(233, 108, 168, 0.2) 100%); background-size: cover; background-repeat: no-repeat; background-position: center; padding-top: 1rem; padding-bottom: 1rem; position: relative; }
.banner .banner-title { color: #E96CA8; }
.banner .banner-title > small { display: block; font-size: 1rem; color: rgba(52, 58, 64, 0.75); margin-top: .5rem; }

.index { width: 100%; overflow-x: hidden; }
.index .hero .hero-carousel .item { width: 100%; height: 0; padding-bottom: 33.3333333333%; position: relative; }
.index .hero .hero-carousel .item .item-bg { position: absolute; width: 100%; height: 100%; object-fit: cover; top: 0; left: 0; right: 0; bottom: 0; }
.index .hero .hero-carousel .item .item-text { position: absolute; width: 100%; height: auto; top: auto; left: 0; right: 0; bottom: 20%; }
.index .hero .hero-carousel .item .item-text > img { width: 90%; height: auto; max-width: 956px; filter: drop-shadow(0 0 0.5rem rgba(0, 0, 0, 0.5)); display: block; margin: auto; opacity: 0; animation: fadeIn 2s forwards; animation-delay: 1s; }
@media screen and (min-width: 768px) { .index .hero .hero-carousel .item .item-text > img { width: 75%; } }
@media screen and (min-width: 1200px) { .index .hero .hero-carousel .item .item-text > img { width: 60%; } }
.index .hero .hero-carousel .item .item-text::before, .index .hero .hero-carousel .item .item-text::after { content: ""; display: block; width: 35%; height: 0; padding-bottom: calc((75/780)*35%); background-repeat: no-repeat; background-size: 100% 100%; filter: drop-shadow(0 0 0.25rem rgba(0, 0, 0, 0.5)); position: absolute; }
.index .hero .hero-carousel .item .item-text::before { background-image: url("../img/index/hero-left.svg"); top: auto; left: 0; right: auto; bottom: 0; animation: slideInLeft 2.5s forwards; transform: translateY(120%); }
@media screen and (min-width: 1200px) { .index .hero .hero-carousel .item .item-text::before { transform: translateY(85%); } }
.index .hero .hero-carousel .item .item-text::after { background-image: url("../img/index/hero-right.svg"); top: 0; left: auto; right: 0; bottom: auto; animation: slideInRight 2.5s forwards; transform: translateY(-100%); }
@media screen and (min-width: 1200px) { .index .hero .hero-carousel .item .item-text::after { transform: translateY(-75%); } }
.index .hero .hero-carousel .owl-nav .owl-prev, .index .hero .hero-carousel .owl-nav .owl-next { width: 10%; height: 100%; position: absolute; top: 0; border: 0; display: flex; justify-content: center; align-items: center; font-size: 2rem !important; color: #fff !important; }
.index .hero .hero-carousel .owl-nav .owl-prev { left: 0; }
.index .hero .hero-carousel .owl-nav .owl-next { right: 0; }
.index .hero .hero-carousel .owl-dots { position: absolute; width: 100%; height: auto; left: 0; right: 0; bottom: 1rem; display: flex; flex-direction: row; align-items: center; justify-content: center; padding-top: 2rem; padding-bottom: 2rem; }
.index .hero .hero-carousel .owl-dots .owl-dot { position: relative; width: .9rem; height: .9rem; margin: 0 0.375rem; background: transparent; border: 1px solid #fff; box-shadow: 0 0 0.75rem rgba(0, 0, 0, 0.375); border-radius: 100%; transition: .5s; }
.index .hero .hero-carousel .owl-dots .owl-dot:hover { background: rgba(255, 255, 255, 0.5); }
.index .hero .hero-carousel .owl-dots .owl-dot.active { width: 1.2rem; height: 1.2rem; background: #fff; }
.index .hero .hero-ip { width: 15%; height: auto; position: absolute; bottom: 1.5rem; right: 2rem; z-index: 2; animation-duration: 3s; }
.index .hero .hero-ip img { max-width: 100%; max-height: 100%; }
.index .news .list-group .list-group-item { color: rgba(52, 58, 64, 0.75); border-color: transparent; padding: 0.25rem 0; }
.index .news .list-group .list-group-item:hover, .index .news .list-group .list-group-item:focus, .index .news .list-group .list-group-item:active { color: #0068b7; }
.index .news .news-tag { margin-right: 0.25rem; }
.index .feature { background-color: rgba(204, 225, 241, 0.5); }
.index .feature .card { border-width: 0; box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075); }
.index .feature .card .card-body { position: relative; }
.index .feature .card .card-body .card-title { font-size: 1.5rem; color: #0068b7; }
.index .feature .card .card-body .card-text { color: rgba(52, 58, 64, 0.75); }
.index .feature .feature-icon { position: absolute; top: 0; right: 0; transform: translate(-1rem, -50%); width: 5rem; height: 5rem; display: flex; align-items: center; justify-content: center; color: #fff; background: #008BD6; border-radius: 100%; transition: .5s; border: 0.4rem solid var(--bs-body-bg); }

.news-nav { font-size: 1.25rem; }
.news-nav .nav-link { color: rgba(52, 58, 64, 0.75); text-underline-offset: .5rem; }
.news-nav .nav-link:hover, .news-nav .nav-link:focus, .news-nav .nav-link:active, .news-nav .nav-link.hover, .news-nav .nav-link.focus { color: #E96CA8; text-decoration: none; }
.news-nav .nav-link.active { color: #0068b7; text-decoration: underline; }

.news-list { margin-bottom: 1.5rem; }
.news-list .news-list-none { text-align: center; margin: 3rem auto; color: #E96CA8; }
.news-list .news-item .card { background-color: #fff; border: 0; border-radius: 0; }
.news-list .news-item .card-title { font-size: 1.375rem; font-weight: 400; line-height: 1.5; overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 1; -webkit-box-orient: vertical; min-height: calc(1em * 1.5 * 1); }
.news-list .news-item .card-title:hover, .news-list .news-item .card-title:focus, .news-list .news-item .card-title:active, .news-list .news-item .card-title.hover, .news-list .news-item .card-title.focus, .news-list .news-item .card-title.active { color: #0068b7; }
.news-list .news-item .card-title a { color: #343a40; }
.news-list .news-item .card-title a:hover, .news-list .news-item .card-title a:focus, .news-list .news-item .card-title a:active, .news-list .news-item .card-title a.hover, .news-list .news-item .card-title a.focus, .news-list .news-item .card-title a.active { color: #0068b7; }
.news-list .news-item .card-text { font-weight: 300; overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 4; -webkit-box-orient: vertical; min-height: calc(1em * 1.5 * 4); }
.news-list .news-item .card-footer { font-size: 0.875rem; background-color: transparent; border: 0; display: flex; justify-content: space-between; align-items: center; }

.news-detail .news-detail-img { width: 41.66666667%; }

.news-detail-img:not(:has(.ratio)) { display: none; }

.scorePlacement .banner { background-image: url("../img/scorePlacement/banner-bg.jpg"); }
.scorePlacement .banner::after { content: ""; display: block; width: 100%; height: 3rem; background-image: url("../img/scorePlacement/banner-cover.png"); background-size: 100% 100%; background-position: center top; position: absolute; bottom: 0; left: 0; right: 0; }
.scorePlacement .search .card { border-width: 0; box-shadow: inset 0 1px rgba(0, 139, 214, 0.25), inset -1px 0 rgba(0, 139, 214, 0.25), 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075); }
.scorePlacement .search .card .card-header { border-bottom: 0; background-color: rgba(0, 139, 214, 0.1); }
.scorePlacement .search .card .card-title { font-size: 1.1rem; color: #fff; margin-bottom: 0; background-color: rgba(0, 139, 214, 0.5); text-shadow: 0 0 5px rgba(0, 0, 0, 0.25); display: inline-block; padding: calc(0.5rem + 1px ) 2rem calc(0.5rem + 1px ) 1rem; margin: -0.5rem -1rem; border-radius: var(--bs-card-inner-border-radius) 0 0 0; clip-path: polygon(0% 0%, calc(100% - 1rem) 0%, 100% 50%, calc(100% - 1rem) 100%, 0% 100%); }

/* CSS Document */
/*@import "modules/animate"; 

@import "modules/academic";   
@import "modules/metrics";   
@import "modules/mend-bs"; 
@import "modules/page-header"; 
@import "modules/spinner"; 
@import "modules/UI"; 

@import "modules/exam-item"; 
@import "modules/user"; 



@import "pages/apply"; */
