.index{
	width: 100%;
	overflow-x: hidden;
	.hero{
		.hero-carousel{
			.item{ 
				width: 100%;
				height: 0;
				padding-bottom: 720/1920*100%;
				position: relative;
				.item-bg {
					position: absolute;
					width: 100%;
					height: 100%;
					object-fit: cover;  
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
				}
				.item-text {  
					position: absolute;
					width: 100%;
					height: auto;  
					top: auto;
					left: 0;
					right: 0;
					bottom: 20%;
					> img{
						width: 90%;
						height: auto;
						max-width: 956px;
						filter: drop-shadow(0 0 .5rem rgba(0,0,0, .5));
						display: block;
						margin: auto;
						opacity: 0;
						animation: fadeIn 2s forwards;
						animation-delay: 1s;
						@media screen and (min-width: 768px) {
						width: 75%;	
						}
						@media screen and (min-width: 1200px) {
						width: 60%;	
						}
					}
					&::before, &::after{ 
						content: "";
						display: block;
						width: 35%;
						height: 0;
						padding-bottom: calc((75/780)*35%);
						background-repeat: no-repeat;
						background-size: 100% 100%;
						filter: drop-shadow(0 0 .25rem rgba(0,0,0, .5));
						position: absolute;
					}
					&::before{
						background-image: url("../img/index/hero-left.svg");
						top: auto;
						left: 0;
						right: auto;
						bottom: 0;
						animation: slideInLeft 2.5s forwards;
						transform: translateY(120%);
						@media screen and (min-width: 1200px) {
						transform: translateY(85%);
						}
					}
					&::after{  
						background-image: url("../img/index/hero-right.svg");
						top: 0;
						left: auto;
						right: 0;
						bottom: auto;
						animation: slideInRight 2.5s forwards;
						transform: translateY(-100%);
						@media screen and (min-width: 1200px) {
						transform: translateY(-75%);
						}
					}
				}
			}
			.owl-nav{
				.owl-prev, .owl-next{
					width: 10%;
					height: 100%;
					position: absolute;
					top: 0;
					border: 0;
					display: flex;
					justify-content: center;
					align-items: center;	
					font-size: 2rem !important;
					color: $white !important;
				}
				.owl-prev{ 
					left: 0;
				}
				.owl-next{
					right: 0;
				}
			}
			.owl-dots {  
				position: absolute;
				width: 100%;
				height:  auto;
				left: 0;
				right: 0;
				bottom: 1rem;
				display: flex;
				flex-direction: row;
				align-items: center;
				justify-content: center; 
				padding-top: 2rem;
				padding-bottom: 2rem;
				.owl-dot {
					position: relative;
					width: .9rem;
					height: .9rem;
					margin: 0 .375rem ;
					background: transparent;
					border: 1px solid $white;
					box-shadow: 0 0 .75rem rgba(0, 0, 0, .375);
					border-radius: 100%;
					transition: .5s;
					&:hover{
						background: rgba($white, .5);	
					}
					&.active {
						width: 1.2rem;
						height: 1.2rem;
						background: $white;
					}
				} 
			}
		}
		.hero-ip{ 
			width: 15%;
			height: auto;
			position: absolute;
			bottom: 1.5rem;
			right: 2rem;
			z-index: 2;
			animation-duration: 3s;
			img{
				max-width: 100%;
				max-height: 100%;
			}
		}	
	}
	.news{
		.list-group{
			.list-group-item{
				color: $body-secondary-color;
				border-color: transparent;
				padding: ($spacer * .25) 0;
				&:hover, &:focus, &:active{
					color: $primary;
				}
			}
		}
		.news-tag{
			margin-right: map-get($spacers, 1);  
		}
	}
	.feature{
		background-color: rgba($primary-100, .5);
		.card{
			border-width: 0;
			box-shadow: $box-shadow-sm;
			.card-body{
				position: relative;
				.card-title{
					font-size: $font-size-base * 1.5;
					color: $primary;
				}
				.card-text{
					color: $body-secondary-color;
				}
			}
		}
		.feature-icon{
			position: absolute;
			top: 0;
			right: 0;
			transform: translate( $card-spacer-x*-1, -50% );
			width: 5rem;
			height: 5rem;
			display: flex;
			align-items: center;
			justify-content: center;
			color: $white;
			background: $cyan;
			border-radius: 100%;
			transition: .5s;
			border: .4rem solid $card-bg;
		}
	}
}

