.login{
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: url("../img/bg.jpg");
	background-position: center bottom;
	background-repeat: no-repeat;
	background-size: cover;
}
.login-panel{
	background-color: rgba($white, .85);
	border-radius: $border-radius-lg;
	padding-top: map-get($spacers, 5);
	padding-bottom: map-get($spacers, 5);
	box-shadow: $box-shadow-sm;
}
