.news-nav{
	font-size: $font-size-lg;
	.nav-link {
		color: $body-secondary-color;
		text-underline-offset: .5rem;
		&:hover, &:focus, &:active, 
		&.hover, &.focus,{
			color: $secondary;	
			text-decoration: none;
		}
		&.active{
			color: $primary;
			text-decoration: underline;
		}
	}
}

.news-list{
	margin-bottom: map-get($spacers, 4);  
	.news-list-none{
		text-align: center;
		margin: map-get($spacers, 5) auto;
		color: $secondary;
	}
	.news-item{
		.card{
			background-color: $white;
			border: 0;
			border-radius: 0;
		}
		.card-title{ 
			font-size: $font-size-base*1.375;
			font-weight: 400;
			line-height: $line-height-base;
			overflow: hidden;
			text-overflow: ellipsis;
			display: -webkit-box;
			-webkit-line-clamp: 1;
			-webkit-box-orient: vertical;
			min-height: calc(1em * #{$line-height-base} * 1);
			&:hover, &:focus, &:active, 
			&.hover, &.focus, &.active, {
				color: $primary;	
			}
			a{
				color: $body-color;
				&:hover, &:focus, &:active, 
				&.hover, &.focus, &.active, {
					color: $primary;	
				}
			}
			
		}
		.card-text{
			font-weight: 300;
			overflow: hidden;
			text-overflow: ellipsis;
			display: -webkit-box;
			-webkit-line-clamp: 4;
			-webkit-box-orient: vertical;
			min-height: calc(1em * #{$line-height-base} * 4);
		}
		.card-footer{
			font-size: $font-size-sm;
			background-color: transparent;
			border: 0;
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
	}
}

.news-detail{
	.news-detail-img{
		width: 41.66666667%;
	}
}
.news-detail-img:not(:has(.ratio)) {
  display: none;
}

