.register{
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: url("../img/bg.jpg");
	background-position: center bottom;
	background-repeat: no-repeat;
	background-size: cover;	
}
.register-panel{ 
	background-color: rgba(#fff, .85);
	border-radius: $border-radius-lg;
	padding: 2rem;
	margin-top: map-get($spacers, 5);
	margin-bottom: map-get($spacers, 5);
	.btn-check:not(:checked) + .btn{
		&:hover{
			background-color: $primary-bg-subtle !important;
		}
	}
	.btn-check:checked  + .btn {
		color: $white;
    background-color: $primary;
	}
}

