.scorePlacement{
	.banner{ 
		background-image: url("../img/scorePlacement/banner-bg.jpg");
		&::after{ 
			content: "";
			display: block;
			width: 100%;
			height: map-get($spacers, 5);
			background-image: url("../img/scorePlacement/banner-cover.png");
			background-size: 100% 100%;
			background-position: center top;
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			
		}
	}
	.search{
		.card{
			border-width: 0;
			box-shadow: inset 0 1px rgba($cyan, .25), inset -1px 0 rgba($cyan, .25), $box-shadow-sm;
			.card-header{
				border-bottom: 0;
				background-color: rgba($cyan, .1);
			}
			.card-title{
				font-size: $font-size-base*1.1;
				color: $white;
				margin-bottom: 0;
				background-color: rgba($cyan, .5);
				text-shadow: 0 0 5px rgba(0,0,0, .25);
				display: inline-block;
				padding: calc(#{$card-cap-padding-y} + 1px ) $card-cap-padding-x*2 
						 calc(#{$card-cap-padding-y} + 1px ) $card-cap-padding-x;
				margin:  $card-cap-padding-y*-1 $card-cap-padding-x*-1;
				border-radius: var(--bs-card-inner-border-radius) 0 0 0;
				clip-path: polygon(0% 0%, calc(100% - #{$card-cap-padding-x})  0%, 100% 50%, calc(100% - #{$card-cap-padding-x}) 100%, 0% 100%);
			}
			.card-body{
				
			}
		}
	}
}