//左
.user-data{
	background-color:$white;
	//box-shadow: $box-shadow;
	border-radius: $border-radius-xl;
	padding: $spacer;
	text-align: center;
	&.sticky-top{
		top: 1rem;
	}
	.avater{
		width: 5rem;
		height: 5rem;
		font-size: calc(5rem*.4);
		margin: 0 auto;
		background-color: $primary;
		color: $white;
	}
	.user-data-name{
		font-weight: 500;
		text-align: center;
		margin-top: .25rem;
		margin-bottom: 1rem;
	}
	.user-data-list{
		display: inline-block;
		list-style: none;
		margin: 0;
		padding: 0;
		margin-bottom: 1rem;
		text-align: left;
		max-width: 100%;
		li{
			color: rgba($body-color, .5);	
			font-size: $font-size-sm;
			margin-bottom: 1rem;
			max-width: 100%;
			> span{
				display: block;
				color: $body-color;	
				font-size: $font-size-base;
				max-width: 100%;
				white-space: nowrap;
      	text-overflow: ellipsis;
				overflow: hidden;
			}
		}
	}
}

//右				
//[class*="myRecommend-T"]{
@mixin myRecommendStyle($color, $light-color) {
	> .row{
		&:not(:last-child){
			margin-bottom: map-get($spacers, 5); 
		}
	}
	.myRecommend-card{
		border-color: transparent;	
		background-color: transparent;	
		height: 100%;
		min-height: 250px;
		
		
		@media screen and (min-width: 992px) {
		min-height: 300px;	
		}
		.card-body{
			background-color: $white;
			border-radius: $border-radius-xl;
			padding: 1.5rem 2.5rem;
		}
	}	
	.myRecommend-title{
		font-size: $h4-font-size;
		color: $body-color;
	}

	.data-empty{//未測驗
		display: none;
		.myRecommend-card{
			.card-body{
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
			}
		}	
		.myRecommend-title{
			margin-bottom: 1rem;
			&::before{
				content: "\F333";
				display: block;
				font-family: "bootstrap-icons"; 
				font-size: 5rem;
				text-align: center;
    		color: tint-color($light-color, 60%);
				margin-bottom: .5rem;
			}
		}
		[class*="btn-outline-"] {
			border-color: $color;
			color: $color;
			&:hover{
				background-color: $color;
				color: $white;
			}
		}
	}
	.data-tested{//已測驗
		.myRecommend-title{ 
			position: relative;
			margin-bottom: 2rem;
			&::after{
				content: "";
				display: inline-block;
				width:  2.5em;
				height: 2px;
				background: -webkit-linear-gradient(left, $color 0%, $light-color 100%);
				background:      -o-linear-gradient(left, $color 0%, $light-color 100%);
				background:         linear-gradient(to right, $color 0%, $light-color 100%); 
				position: absolute;
				bottom: -.5rem;
				left: 0;
			}
		}
		.myRecommend-symbol{  
		  display: flex;
			flex-direction: row;
			gap: 1rem;
			.myRecommend-symbol-item{ 
				height: 2.5rem*3*2;
				display: flex;
    		flex-direction: column;
    		justify-content: flex-end;
				[class*="-symbol"]{
					animation: float 4s ease-in-out infinite;
			  }
				&::after{ 
					content: "";
					display: flex;
					align-items: center;
					justify-content: center;
					width: 100%;
					height: 2rem;
					font-family: $font-family-monospace;
					font-size: $font-size-lg;
					font-weight: 900;
					color: $border-color;
					text-shadow: none;
					border: 1px solid $border-color;
					background-color: rgba($border-color, .1);
					border-radius: $border-radius-xl $border-radius-xl $border-radius $border-radius;
					margin-top: .5rem;
				}
			}
			.myRecommend-symbol-item:nth-child(1){
				order: 2;
				[class*="-symbol"]{
					 animation-delay: -1.5s;
			  }
				&::after{
					content: "1";
					height: 2.5rem*3;
				}
			}
			.myRecommend-symbol-item:nth-child(2){
				order: 1;
				[class*="-symbol"]{
					animation-delay: 0s;
			  }
				&::after{
					content: "2";
					height: 2.5rem*2;
				}
			}
			.myRecommend-symbol-item:nth-child(3){
				order: 2;
				[class*="-symbol"]{
					animation-delay: -3s;
			  }
				&::after{
					content: "3";
					height: 2.5rem*1;
				}
			}
		}
		.myRecommend-group{
			display: flex;
			flex-direction: column;
			gap: $spacer;
			background-color: rgba($border-color, .2);
			border-radius: $border-radius-xl;
			padding: $grid-gutter-width;
			.myRecommend-group-title{
				font-size: $font-size-sm;
				color: $color;
				margin-bottom: 0;
			}
			.myRecommend-group-btn{
				text-align: left;
				display: flex;
				align-items: center;
				justify-content: flex-start;
				border-color: $border-color;
				color: $body-secondary-color;
				transition: $transition-base;
			  padding: $input-btn-padding-y-lg $input-btn-padding-x-lg;
				border-radius: $border-radius-xl;
				background-color: $white;
				&::before{
					content: "";
					display: inline-block;
					width: .325rem;
					height: .325rem;
					border-radius: 100%;
					background-color: $light-color;
					margin-right: .75rem;
				}
				&::after{
					content: "\F285";
					display: inline;
					font-family: "bootstrap-icons"; 
					color: $border-color;
					margin-left: auto;
				}
				&:hover{
					border-color: $color;	
					background-color: $white;
					transform: translateY(-.5rem);
					box-shadow: $box-shadow;
					&::after{
						color: $color;	
					}
				}
			}	
		}
	}
}

.myRecommend-TA{
	@include myRecommendStyle($TA-color, $TA-light-color);
	
	/*.myRecommend-triangle.counter-ranking{
		counter-reset: ranking; 
	}*/
}
.myRecommend-TI{
	@include myRecommendStyle($TI-color, $TI-light-color);
}


