$TI-color:			 #006500;
$TI-light-color: #00ab28;

$TI-A-color: $orange; //藝術型
$TI-C-color: #862E9C; //事務型
$TI-E-color: #E64980; //企業行
$TI-I-color: $green; //研究型
$TI-R-color: $red; //實用型
$TI-S-color: $blue; //社會型
@mixin TIsymbolStyles($color) {
  //.TI-symbol{
  width: 6rem;
  height: 6rem;
	min-width: 6rem;
  min-height: 6rem;
	max-width: 6rem;
  max-height: 6rem;
  border-radius: $border-radius-xxl;
  color: $white;
  display: inline-flex;
	flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: $font-size-base;
  font-weight: 500;
	background-color: $color;
	box-shadow: 0 .5rem 1rem rgba($color, .25), inset -.325rem -.325rem .5rem rgba($black, 0.1), inset .325rem .325rem .5rem rgba($white, 0.2);
	text-shadow: 0px 0px 5px rgba($black, .25);
	border: .325rem solid tint-color($color, 40%);
	.label-code{
		font-size: $font-size-base*2;
		font-weight: 600;
		line-height: 1;
		margin-bottom: .25rem;
	}
}
//藝術型
.TI-symbol.A {
  @include TIsymbolStyles($TI-A-color);
}
//事務型
.TI-symbol.C {
  @include TIsymbolStyles($TI-C-color);
}
//企業行
.TI-symbol.E {
  @include TIsymbolStyles($TI-E-color);
}
//研究型
.TI-symbol.I {
  @include TIsymbolStyles($TI-I-color);
}
//實用型
.TI-symbol.R {
  @include TIsymbolStyles($TI-R-color);
}
//社會型
.TI-symbol.S {
  @include TIsymbolStyles($TI-S-color);
}