$scorePlacement-color: mix($cyan, $blue, 50%);
$careerPlacement-color: $indigo;

$Sprint-color: mix($pink, $red, 50%);
$Stable-color: mix($red, $orange, 10%);
$Safe-color: $teal;
$Region-color: $purple;
$TA-color: lighten(#004896, 10%);
$TI-color: lighten(#006934, 10%);

$category-01: #27c5c2; ///* 哲學 */
$category-02: #ddb100; ///* 經濟 */
$category-03: #795548; ///* 法學 */
$category-04: #5A67D8; ///* 教育 */
$category-05: #E96CA8; ///* 文學 */
$category-06: #C05621; ///* 歷史 */
$category-07: #008BD6; ///* 理學 */
$category-08: #2B6CB0; ///* 工學 */
$category-09: #008148; ///* 農學 */ 
$category-10: #E2341D; ///* 醫學 */
$category-12: #48628d; ///* 管理 */
$category-13: #DD6B20; ///* 藝術 */